<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/mvc">
<head>
<meta charset="utf-8" />
<title>首页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content=""/>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jqpublic.js"></script>
<!--    <script type="text/javascript" src="../js/list.js"></script>-->
</head>

<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <script th:inline="javascript">
    $(document).ready(function(){
    var customer=[[${session.USER}]]
     if(customer!=null&&customer!=""){
      $("#d1").hide();
      $("#d2").text("欢迎您："+customer ).show();
     }
    });
   </script>

   <div class="LeftNav">
    <div id="d1"><a href="../login/register">注册</a>/<a href="../login/login">登录</a></div><div id="d2"></div>
    <p id="addname"></p>
   </div>
   <div class="RightNav">
    <a href="../user_center">用户中心</a>
    <a href="user_orderlist" target="_blank" title="我的订单">我的订单</a>
    <a href="../cart">购物车</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../images/logo.jpg" title="" alt="">
<!--   <h1>高校食堂外卖</h1>-->
  </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
   </div>
       <script>

           $(document).ready(function () {
               $("#bt1").click(function(){
               var keyword =  $("#fkeyword").val();
                   window.location.href = '../sell/toSellView?fkeyword='+keyword+'';
               });
           })
       </script>
   <div class="Search_area" id="dd1">
   <input id="fkeyword" type="search"  name="keyword" placeholder="请输入..." class="searchbox" />
       <input id="bt1"  type="button" class="searchbutton" value="搜 索" />
   </div>
   </form>
   <p class="hotkeywords">
    <a href="#" title="酸辣土豆丝">酸辣土豆丝</a>
    <a href="#" title="这里是产品名称">兰州拉面</a>
    <a href="#" title="这里是产品名称">烤面包</a>
    <a href="#" title="这里是产品名称">芝麻酱凉面</a>
    <a href="#" title="这里是产品名称">滑蛋虾仁</a>
    <a href="#" title="这里是产品名称">蒜汁茄子</a>
   </p>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/">首页</a></li>
   <li><a href="../list">订餐</a></li>
   <li><a href="../article_read">关于我们</a></li>
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Cfn">
 <div class="F-middle">
 <ul class="rslides f426x240">
        <li><a href="javascript:"><img src="../upload/lb1.jpg" width="870" height="403"/></a></li>
        <li><a href="javascript:"><img src="../upload/lb2.jpg" width="870" height="403"/></a></li>
        <li><a href="javascript:"><img src="../upload/lb3.jpg" width="870" height="403"/></a></li>
    </ul>
 </div>
 <aside class="N-right" >
  <div class="N-title" >公告栏 </div>
  <ul class="Orderlist" id="UpRoll" >
   <li th:each="notice : ${noticeList}" th:text="${notice.content}">
    <p></p>
   </li>
  </ul>
  <script>
   var UpRoll = document.getElementById('UpRoll');
   var lis = UpRoll.getElementsByTagName('li');
   var ml = 0;
   var timer1 = setInterval(function(){
    var liHeight = lis[0].offsetHeight;
    var timer2 = setInterval(function(){
     UpRoll.scrollTop = (++ml);
     if(ml ==1){
        clearInterval(timer2);
        UpRoll.scrollTop = 0;
        ml = 0;
        lis[0].parentNode.appendChild(lis[0]);
    }
    },10); 
    },5000);
  </script>
 </aside>
</section>
<section class="Sfainfor">
 <article class="Sflist">
  <div id="Indexouter">
   <ul id="Indextab">
    <li class="current">热门精选</li>
   </ul>
  <div id="Indexcontent">
 <ul style="display:block;" >
  <li>
     <div class="SCcontent"  >
         <p th:each="product : ${productList}">
          <a href="../detailsp?productId='+${productInfo.id}" target="_blank" th:title="${product.name}">
           <figure>
           <img th:src="${product.photo}">
            <figcaption>
             <span class="title" th:text="${product.name}+'     ￥'+${product.price}"></span>
     <!--  <span class="price" th:text="${product.price}"><i>￥</i></span>-->
            </figcaption>
            </figure>
           </a>
         </p>
     </div>

     <div class="bestshop">
     <p  th:each="sellerUserInfo : ${sellerList}">
      <a href="'../shop?sellerId='+${sellerUserInfo.id}" target="_blank" th:title="${sellerUserInfo.shopName}">
       <figure>
        <img th:src="${sellerUserInfo.photo}">
       </figure>
      </a>
     </p>
     </div>
    </li>
   </ul>
 </div>
 </div>
 </article>
</section>
<!--End content-->

<footer>
 <section class="Otherlink">
  <aside>
   <div class="ewm-left">
    <p>扫描二维码关注我们：</p>
    <img src="../images/Android_ico_d.gif">
    <img src="../images/iphone_ico_d.gif">
   </div>
   <div class="tips">
    <p>客服热线</p>
    <p><i>123456**89</i></p>
    <p>配送时间</p>
    <p><time>10：00</time>~<time>20:00</time></p>
    <p>网站公告</p>
   </div>
  </aside>
  <section>
    <div>
    <span><i class="i1"></i>配送支付</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">支付方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送方式</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务费用</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i2"></i>关于我们</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">招贤纳士</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">配送效率</a></li>
     <li><a href="../article_read" target="_blank" title="标题">商家加盟</a></li>
    </ul>
    </div>
    <div>
    <span><i class="i3"></i>帮助中心</span>
    <ul>
     <li><a href="../article_read" target="_blank" title="标题">服务内容</a></li>
     <li><a href="../article_read" target="_blank" title="标题">服务介绍</a></li>
     <li><a href="../article_read" target="_blank" title="标题">常见问题</a></li>
     <li><a href="../article_read" target="_blank" title="标题">网站地图</a></li>
    </ul>
    </div>
  </section>
 </section>
</footer>
</body>
</html>
